extends layout.pug

block content
  h1.mt-5= title
  form(method="POST")
    .form-group
      label(for='name') Title
      input#name.form-control(type='text', placeholder='Enter title', name="title", value=book.title)
    .form-group
      label(for='type') Author
      input#type.form-control(type='text', placeholder='Enter author', name="author", value=book.author)
    .form-group
      label(for='numPages') Number of Pages
      input#price.form-control(type='text', placeholder='Enter number of pages', name="numPages", value=book.numPages)
    button.btn.btn-primary(type='submit') Submit
